html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: auto;
}
header{
    width: 100%;
    background-color: #E9FFDF;
}
.quado{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #E9FFDF;
}
.quado .bxs-circle{
    font-size: 100px;
    color: #F89623;
    margin-left: -40px;
    margin-top: -40px;
}
#close{
    color: #16401F;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: -1px;
}

nav{
    width: 90%;
    margin: auto;
    height: 12vh;
}
.nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.lists{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.lists a{
    text-decoration: none;
    color: #16401F;
    padding: 8px 30px;
    text-align: center;
    border-radius: 10px;
}
.lists a i{
    font-size: 25px;
    margin-right: -25px;
}
#login{
    background-color: #16401F;
    border: none;
    color: white;
}
.landing-page{
    background-color: #E9FFDF;
    width: 100%;
    margin: auto;
}
.landing-page .bxs-circle{
    color: #F89623;
    position: relative;
    margin-left: 900px;
}

.landing-page-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #16401F;
    padding-top: 50px;

}
.left{
    width: 30%;
}
.left-circle img{
    position: absolute;
    z-index: 0;
    width: 300px;
    margin-top: -90px;
    margin-left: -50px;
}
.left h1{
    position: relative;
    z-index: 1;
}
.left h1,
.left p{
    width: 70%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.left button{
    padding: 10px 20px;
    background-color: #16401F;
    color: white;
    border: none;
    margin-left: 30px;
    margin-top: 30px;
}
.right{
    width: 50%;
}
.right .blur-img{
    position: absolute;
    z-index: 0;
    margin-left: -150px;
    margin-top: -110px;
    width: 30%;
}
.right img{
    width: 100%;
    margin-top: 20px;
    z-index: 1;
    position: relative;
}
.right .bxs-circle-half{
    color: #F89623;
    font-size: 20px;
    transform: rotate(-90deg);
    position: relative;
    margin-top: 30px;
    margin-left: 600px;
}
.popular-courses{
    width: 100%;
    background-color: #E9FFDF;
    margin: auto;
}
.popular-courses .bxs-circle{
    margin-left: 79px;
    color: #F89623;
}
#secondpc{
    margin-left: 1050px;
    margin-top: 60px;
}
.popular-courses h2{
    color: #16401F;
    margin-left: 60px;
    margin-bottom: 30px;
}
.course-list{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.first-frame{
    background: #A9CFAB;
    color: #16401F;
    width: 15%;
}
.frame-txt{
    width: 90%;
    margin: auto;
}
.frame-icon{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0px 5px;
}
.frame-icon img{
    height: 20px;
    margin-top: 24px;
}
.second-frame{
    background: #16401F;
    color: white;
    width: 15%;
}
.mission-page{
    width: 100%;
    margin-top: 30px;
    margin: auto;
    background-color: #E9FFDF;
    position: relative;
    z-index: 1;
}
.mission-page .bxs-circle{
    color: #F89623;
    margin-bottom: 30px;
    margin-left: 460px;
}
.mission-content{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}
.image-wrap{
    width: 50%;
}
.image-wrap img{
    width: 100%;
    height: 80%;
    position: relative;
    z-index: 1;
}
.mission-page .bxs-square{
    font-size: 200px;
    position: absolute;
    z-index: 0;
    margin-left: 20px;
    margin-top: 5px;
    color: #F89623;
}
.blurb-wrap{
    width: 30%;
    height: 35vh;
    margin-top: 30px;
    margin-right: 35px;
}
.first-blurb,
.second-blurb{
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
}
.first-blurb{
    background-color: #A9CFAB;
    color: #16401F;
}
.second-blurb{
    background-color: #16401F;
    color: white;
}
.first-blurb img,
.second-blurb img{
    height: 20px;
    margin-top: 20px;
    margin-right: 20px;
}
.creative-courses{
    width: 100%;
    background-color: #E9FFDF;
    position: relative;
}
#blur-image{
    margin-top: -120px;
    margin-left: -50px;
    width: 320px;
}
.creative-courses .bxs-circle{
    color: #16401F;
    margin-left: 80px;
    margin-bottom: 150px;
}
#creativestop{
    color: #F89623;
    margin-left: 800px;
}
.creative-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-top: -100px;
}
.creative-blurb{
    width: 30%;
    margin-top: 10px;
    color: #16401F;
}
.creative-blurb h3{
    color: #F89623;
    font-weight: 300;
    margin-bottom: 20px;
    width: 100%;
}
.creative-blurb h2{
    width: 60%;
}
.creative-blurb p{
    width: 100%;
}
.creative-blurb button{
    padding: 8px 20px;
    background-color: #16401F;
    border: none;
    color: white;
    margin-top: 30px;
    margin-left: 25px;
}
.creative-image{
    width: 50%;
}
.creative-image img{
    width: 100%;
    position: relative;
    z-index: 1;
}
#creativecont{
    margin-left: 600px;
    margin-top: -70px;
}
.creative-courses .bxs-square{
    color: #16401F;
    font-size: 300px;
    position: absolute;
    z-index: 0;
    margin-top: -260px;
    margin-left: 960px;
}
.student-love{
    width: 100%;
    background-color: white;
    overflow: hidden;
}
.student-love .slcircle1{
    margin-top: -100px;
    margin-left: -80px;
}
.student-love .slcircle2{
    margin-bottom: -180px;
    margin-left: 1000px;
}
.student-content{
    width: 90%;
    margin: auto;
    display: flex;
    padding: 50px 0px;
    margin: auto;
}
.student-blurb{
    width: 35%;
    order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #16401F;
    margin-left: 190px;
}
.student-blurb h3{
    font-weight: 300;
    color: #F89623;
}
.student-blurb h2{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.student-blurb h4{
    width: 70%;
    margin-top: 20px;
}
#sldot1{
    margin-left: 830px;
}
#sldot2{
    color: #F89623;
    margin-left: 900px;
    margin-top: -90px;
}
.student-image{
    width: 28%;
    height: 28%;
    border: 30px solid #F89623;
    border-radius: 190px;
    margin-top: 30px;
}
.student-image img{
    width: 100%;
    height: 100%;
}
footer{
    position: relative;
    width: 100%;
    background-color: #E9FFDF;
    padding-top: 130px;
    overflow: hidden;
}
footer img{
    position: absolute;
    z-index: 0;
    margin-top: -130px;
    margin-left: 690px;
    width: 300px;
}
.subscribe-div{
    width: 30%;
    text-align: center;
    margin: auto;
    padding: 30px 35px;
    background-color: #16401F;
    color: white;
    position: relative;
    z-index: 1;
}
#Yemail{
    width: 90%;
    padding: 8px;
    border: none;
}
.subscribe-div button{
    margin-left: -120px;
    background-color: #16401F;
    border: none;
    padding: 5px;
    color: white;
}
.footer-info{
    display: flex;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
}
.footer-info .fellipse{
    margin-top: -7rem;
    margin-left: 3rem;
    width: 29rem;
}
.support-list,
.contact-list{
    color: #16401F;
    margin-left: 110px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;

}
.support-list a,
.contact-list a{
    display: block;
    text-decoration: none;
    color: #16401F;
    margin-bottom: 13px;
}
.chat-board{
    background-image: url(images/Group\ 3.png);
    background-size: 400px;
    background-repeat: no-repeat;
    width: 30%;
    float: right;
    margin-top: -15%;
}
.chat-board-content{
    width: 70%;
    color: white;
    text-align: center;
    margin-top: 70px;
    margin-left: 60px;
    background-color: #16401F;
    padding-bottom: 20px;
}
.chat-board-content button{
    padding: 10px 25px;
    border: none;
    background-color: white;
    color: #16401F;
}









